<!-- view Asset Area-->
<div class="row align-items-start">
    <h1 class="text-center p-3" style="font-family: Garamond, serif">The Scrapbook</h1>
    <div class="col-2"></div>

    <div class="col-8 masonry-container" style="text-align: left;">

        <div id="ImageList">

            <h4>Error loading the media.</h4>

        </div>
    </div>

    <div class="col-2"></div>
</div>